<%- include("partials/header.ejs") %>

<h1>
    <% let today = new Date();
    today = today.toString(); 
    today = today.slice(0,16);%>
    <%= today %>
</h1>

<div class="list">
    <div class="list-item">
        <input type="checkbox"> Eat lunch
    </div>
    <div class="list-item">
        <input type="checkbox"> Do the dishes
    </div>
    <div class="list-item">
        <input type="checkbox"> Study
    </div>
    <div class="list-item">
        <input type="checkbox"> Start project
    </div>
    <div class="list-item">
        <input type="checkbox"> Take a nap
    </div>
    <% if(locals.newListItem) { %>
        <% for(var i = 0;i<newListItem.length;i++) { %>
            <div class="list-item">
            <input type="checkbox"> 
            <%= newListItem[i] %>
        </div>
        <% }; %>
            <% } %>
    <div class="list-item new">
        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" required> 
            <button type="submit" name="button"> +
        </form>
    </div>
    
</div>


<%- include("partials/footer.ejs") %>