<head>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<%- include("partials/header.ejs") %>

<h1>
    <% let today = new Date();
    today = today.toString(); 
    today = today.slice(0,16);%>
    <%= today %>
</h1>

<div class="list">
    <div class="list-item">
        <input type="checkbox"> 
        <p>Eat lunch</p>
    </div>
    <div class="list-item">
        <input type="checkbox">
        <p> Do the dishes</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Study</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Start project</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Take a nap</p>
    </div>
    <% if(locals.newListItem) { %>
        <% for(var i = 0;i<newListItem.length;i++) { %>
            <div class="list-item">
            <input type="checkbox"> 
            <p>
            <%= newListItem[i] %>
            </p>
        </div>
        <% }; %>
            <% } %>
    <div class="list-item new">
        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="Type In New Item To Add" required style="margin-bottom: 10px;"> 
            <button type="submit" name="button"> +
        </form>
    </div>
    
</div>


<%- include("partials/footer.ejs") %>