<%- include("partials/header.ejs") %>

<h1>
    <% let today = new Date();
    let tomorrow = new Date(today);
    tomorrow.setDate(today.getDate()+1);
    tomorrow = tomorrow.toString();
    tomorrow = tomorrow.slice(0,16);
    %>
    <%= tomorrow %>
</h1>

<div class="list">
    <div class="list-item">
        <input type="checkbox"> Eat breakfast
    </div>
    <div class="list-item">
        <input type="checkbox"> Clean the floor
    </div>
    <div class="list-item">
        <input type="checkbox"> Study
    </div>
    <div class="list-item">
        <input type="checkbox"> Finish project
    </div>
    <% if(locals.newListItem) { %>
        <% for(var i = 0;i<newListItem.length;i++) { %>
            <div class="list-item">
            <input type="checkbox"> 
            <%= newListItem[i] %>
        </div>
        <% }; %>
            <% } %>
    <div class="list-item new">
        <form action="/tomorrow" method="post">
            <input type="text" name="newItem" placeholder="New Item" required> 
            <button type="submit" name="button"> + 
        </form>
    </div>
    
</div>


<%- include("partials/footer.ejs") %>