<%- include("partials/header.ejs") %>

<h1>
    <% let today = new Date();
    let tomorrow = new Date(today);
    tomorrow.setDate(today.getDate()+1);
    tomorrow = tomorrow.toString();
    tomorrow = tomorrow.slice(0,16);
    %>
    <%= tomorrow %>
</h1>

<div class="list">
    <div class="list-item">
        <input type="checkbox"> 
        <p>Eat breakfast</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Clean the floor</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Study</p>
    </div>
    <div class="list-item">
        <input type="checkbox"> 
        <p>Finish project</p>
    </div>
    <% if(locals.newListItem) { %>
        <% for(var i = 0;i<newListItem.length;i++) { %>
            <div class="list-item">
            <input type="checkbox"> 
            <p>
                <%= newListItem[i] %>
            </p>
        </div>
        <% }; %>
            <% } %>
    <div class="list-item new">
        <form action="/tomorrow" method="post">
            <input type="text" name="newItem" placeholder="Type In New Item To Add" required> 
            <button type="submit" name="button"> + 
        </form>
    </div>
    
</div>


<%- include("partials/footer.ejs") %>