html{
    background-color: rgb(200, 220, 238);
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
a{
    color:#4682A9;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid gray;
    padding: 3px
}
h1{
    text-align: center;
    display: block;
    border-radius: 5px;
    text-decoration: underline;
    color:#4682A9;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
} 
.list-item p{
    text-align: center;
    padding-bottom: 15px;
}
.list-item input[type="checkbox"]{
    width: 15px;
    height: 15px;
    float: left;
}
footer{
    display: flex;
    justify-content: center;
    color:#4682A9;
}
.list-item input[type="text"]{
    border: none;
    text-align: end;
    margin: 20px;
    width: 50%;
    background-color: whitesmoke;
    font-size: 1rem;
}
button{
    text-align: end;
    background-color:#4682A9;
    font-size: 1rem;
    color: white;
    border-radius: 50%;
    border-color: transparent;
}